<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gaondo{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="description" content="El mejor sitio de humor, memes politicos, futbolísticos y demases yerbas Argentinas" />
        {% block og_meta_tags %}
            <meta property="og:url" content="{{ app.request.schemeAndHttpHost }}" />
            <meta property="og:title" content="Gaondo" />
            <meta property="og:image" content="https://www.gaondo.com{{ asset('images/gaondo_logo_big.png') }}" />
            <meta property="og:description" content="Memes y humor Argentinian" />
            <meta property="fb:app_id" content="{{ facebook_appId }}" />
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}?v={{ random() }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=new" />
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/fontawesome-all.min.js') }}"></script>
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="{{ piwik_host }}";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', "{{ piwik_siteId }}"]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <script src="{{ asset('build/app.js') }}"></script>
        <script type="text/javascript">
            {% if app.user %}
                gaondo.isLoggedIn = true;
            {% endif %}
        </script>
    </head>
    <body>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId            : {{ facebook_appId }},
                    autoLogAppEvents : true,
                    xfbml            : true,
                    version          : 'v3.0'
                });
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/es_AR/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        {% block header %}
            <div id="header">
                <div class="header">
                    <a href="/">
                      <div class="logo"><span class="blinker" /></div>
                    </a>
                    <div class="nav-wrapper">
                        <div class="nav nav-add">
                            <a href="/newMeme" class="icon icon-add">
                                <i class="far fa-image"></i>
                                <span class="description">{% trans %}main.create{% endtrans %}</span>
                            </a>
                        </div>
                        <div class="nav nav-user {{ is_granted("IS_AUTHENTICATED_REMEMBERED") ? "logged-in" : "logged-out" }}">
                            <div class="user">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a href="/profile">
                                        <div class="avatar" style="background-image: url({{
                                        web_image(app.user.avatarUrl).zoomCrop(40,40,0,'center','center')
                                        }})"></div>
                                    </a>
                                {% else %}
                                    <a href="/login" class="icon icon-user">
                                        <i class="far fa-user"></i>
                                        <span class="description">{% trans %}main.account{% endtrans %}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div id="overlay"></div>

        <div id="content">
            {% block content %}
                Welcome to Gaondo!
            {% endblock %}
        </div>

        <div id="footer">
            <div class="copyright">
                {% if app.user %}
                    {% if app.user.isAdmin %}
                        <a href="/admin" class="button-red">Users</a>
                    {% endif %}
                {% endif %}
                <a href="/support/" class="button-red">Contacto</a>
            </div>
        </div>
    </body>
</html>
