<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gaondo{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=new" />
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/fontawesome-all.min.js') }}"></script>
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="{{ piwik_host }}";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', "{{ piwik_siteId }}"]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
    </head>
    <body>
        {% block header %}
            <div id="header">
                <div class="header">
                    <a href="/">
                      <div class="logo"><span class="blinker" /></div>
                    </a>
                    <div class="nav-wrapper">
                        <div class="nav nav-add">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a href="/newMeme" class="icon icon-add">
                                    <i class="far fa-image"></i>
                                    <span class="description">{% trans %}main.create{% endtrans %}</span>
                                </a>
                            {% endif %}
                        </div>
                        <div class="nav nav-user {{ is_granted("IS_AUTHENTICATED_REMEMBERED") ? "logged-in" : "logged-out" }}">
                            <div class="user">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a href="/profile">
                                        <div class="avatar" style="background-image: url({{
                                        web_image(app.user.avatarUrl).zoomCrop(40,40,0,'center','center')
                                        }})"></div>
                                    </a>
                                {% else %}
                                    <a href="/login" class="icon icon-user">
                                        <i class="far fa-user"></i>
                                        <span class="description">{% trans %}main.account{% endtrans %}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div id="content">
            {% block content %}
                Welcome to Gaondo!
            {% endblock %}
        </div>

        <div id="footer">
            <div class="copyright">
                {% if app.user %}
                    {% if app.user.isAdmin %}
                        <a href="/admin" class="button-red">Users</a>
                    {% endif %}
                {% endif %}
                <a href="/support/" class="button-red">Contacto</a>
                <a href="/tos/" class="button-red">TYC</a>
            </div>
        </div>
        
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
