{% extends 'base.html.twig' %}

{% block content %}
    <div class="stream">
        {% if memes|length < 1 %}
            hay nada
        {% endif %}
        {% for meme in memes %}
            <div id="m{{ meme.id }}" class="meme">
                <h3>
                    <a href="m/{{ meme.id }}">{{ meme.title }}</a>
                </h3>
                <a href="m/{{ meme.id }}">
                    <img src="{{ meme.imageUrl }}">
                </a>
                <div class="date">
                    {{ meme.creationdate|date() }}
                </div>
                <div class="author">
                    {{ meme.author.username }}
                </div>
                <div class="description">
                    {{ meme.description }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}