{% extends 'base.html.twig' %}
{% block og_meta_tags %}
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost }}/m/{{ meme.id }}" />
    <meta property="og:title" content="{{ meme.title }}" />
    <meta property="og:image" content="{{ app.request.schemeAndHttpHost }}{{ meme.imageUrl }}" />
    <meta property="og:description" content="Gaondo - Memes y humor Argentinian" />
    <meta property="fb:app_id" content="{{ facebook_appId }}" />
{% endblock %}

{% block content %}
    <div class="meme rose-box">
        {% embed ":meme:single.html.twig" %}
        {% endembed %}
    </div>
{% endblock %}