{% extends 'base.html.twig' %}

{% block content %}
    <script src="{{ asset('js/fabric-2.2.0.min.js') }}"></script>
    <script src="{{ asset('js/load-image.all.min.js') }}"></script>
    <script src="{{ asset('js/fontfaceobserver.js') }}"></script>
    <script src="{{ asset('js/canvas-to-blob.min.js') }}"></script>
    <script src="{{ asset('js/cma.js') }}"></script>

    <div id="CMA" class="rose-box">
        <div class="title">
            <input id="title" type="text" placeholder="{% trans %}meme.title{% endtrans %}" autocomplete="off">
        </div>
        <div id="canvas_area">
            <canvas id="canvas"></canvas>
            <div id="CMA_image_selector">
                <div id="CMA_image_selector_close"><i class="fas fa-times fa-lg"></i></div>
                <h2></h2>
                <p>
                    <button id="CMA_file_button" type="button" class="button-red">Seleccionar archivo local</button>
                </p>
                <p>
                    <input id="URL" type="text" placeholder="Inserte URL de la imagen" autocomplete="off">
                    <input id="CMA_URL_button" type="button" value="Cargar">
                </p>
            </div>
        </div>
        <div class="content">
            <div id="toolbox">
                <div class="toolbox-left">
                    <table>
                        <tr>
                            <td id="CMA_text_box">
                                <div id="CMA_text_button" class="button-anim"></div>
                                <div id="CMA_text_more">
                                    <select id="font" onchange="setFont()" autocomplete="off">
                                        <option value="impactreg" selected>Impact</option>
                                        <option value="sans">Sans</option>
                                        <option value="times">Times</option>
                                        <option value="mono">Mono</option>
                                    </select>
                                    <div>
                                        <div class="CMA_color_box button-anim" onclick="setTextColor('black')" style="background-color:black"></div>
                                        <div class="CMA_color_box button-anim" onclick="setTextColor('white')" style="background-color:white"></div>
{#
                                        <div class="CMA_color_box button-anim" onclick="setTextColor('red')" style="background-color:red"></div>
                                        <div class="CMA_color_box button-anim" onclick="setTextColor('green')" style="background-color:green"></div>
                                        <div class="CMA_color_box button-anim" onclick="setTextColor('blue')" style="background-color:blue"></div>
#}
                                    </div>
                                </div>
                            </td>
                            <td id="CMA_image_box">
                                <div id="CMA_image_button" class="button-anim"></div>
                            </td>
                            <td id="CMA_crop_box">
                                <div id="CMA_crop_button" class="button-anim"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbox-right">
                    <div id="CMA_eraser_button" class="button-anim" onclick="removeSelected()"></div>
                </div>
            </div>
            <div style="display:flex">
                <textarea id="description" placeholder="Acá podés escribir una descripción" autocomplete="off"></textarea>
            </div>
            <button id="submit" type="button" class="button-red">{% trans %}main.upload{% endtrans %}</button>
            <a class="status" id="status"></a>
        </div>
    </div>
{% endblock %}
