{% if link is defined %}
    <a href="/m/{{ meme.id }}">
{% endif %}
<div class="title">
    <h2>{{ meme.title }}</h2>
</div>
{% if meme.mimeType == "image/gif" %}
    <img src="{{ meme.imageUrl }}">
{% else %}
    {% set img = web_image(meme.imageUrl) %}
    <img src="{{ img.cropResize(640, img.height, 0) }}">
{% endif %}

{% if link is defined %}
    </a>
{% endif %}

<div class="meta">
    {{ render(controller('AppBundle:Vote:_show', { 'subjectId': meme.id })) }}
    <div class="center">
        <div class="date">{{ meme.creationDate|date() }}</div>
        <a href="/m/{{ meme.id }}#comments">
            <div class="comment-count">{{ meme.commentCount }} <span class="icon icon-comment"></span></div>
        </a>
        {% if app.user %}
            {% if app.user.isAdmin or app.user == meme.author %}
                <div class="delete"><a class="button-red small" onclick="deleteMeme({{ meme.id }})">{% trans %}meme.delete{% endtrans %}</a></div>
            {% endif %}
        {% endif %}
    </div>
    {% embed ":user:widget.html.twig" with { user: meme.author } %}
    {% endembed %}
</div>

{% if link is not defined %}
    {% block description %}
        <div class="description">
            {{ meme.description }}
        </div>
    {% endblock %}

    {% block comments %}
        <hr />
        <a name="comments"></a>
        <div class="comments">
            <h3>{{ meme.commentCount }} {% trans %}main.comments{% endtrans %}</h3>
            {% if app.user %}
                {{ render(controller('AppBundle:Comment:_commentForm', { 'memeId': meme.id, 'replyTo': null })) }}
            {% else %}
                {% trans %}comments.loginRequired{% endtrans %}
            {% endif %}
            {{ render(controller('AppBundle:Comment:_commentList', { 'memeId': meme.id })) }}
        </div>
    {% endblock %}
{% endif %}

<script type="text/javascript">
    function deleteMeme(id) {
        if ( window.confirm( "{% trans %}meme.delete.confirm{% endtrans %}" ) ) {
            $.ajax({
                url: "/m/" + id + "/",
                type: 'DELETE'
            }).done((response) => {
                window.location.replace("/");
            });
        }
    }
</script>