<hr />
{% macro comment_tree(tree) %}
    {% import _self as macros %}
    {% for node in tree %}
        <li>
            <div class="comment" id="comment{{ node.comment.id }}">
                <div class="info">


                </div>
                <div class="text">
                    {% if node.comment.author %}
                        {% embed "user/widget.html.twig" with { user: node.comment.author} %}{% endembed %}
                    {% endif %}
                    <div class="datetime">{{ node.comment.getCreationDateAsString }}</div>
                    {% if node.comment.author %}
                        <p class="author">{{ node.comment.author }}</p>
                    {% endif %}
                    <hr>
                    <p>
                        {% if node.comment.text %}
                            {{ node.comment.text }}
                        {% else %}
                            <i>{% trans %}comments.deleted{% endtrans %}</i>
                        {% endif %}
                    </p>
                </div>
                {% if app.user and node.comment.text %}
                    <div class="actions">
                        <a onclick="gaondo.replyForm({{ node.comment.id }})">{% trans %}main.reply{% endtrans %}</a>
                        {% if app.user.isAdmin or app.user == node.comment.author %}
                            <a onclick="gaondo.deleteComment({{ node.comment.id }})">{% trans %}main.delete{% endtrans %}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            {% if node.children is defined %}
                <ul>
                    {{ macros.comment_tree(node.children) }}
                </ul>
            {% endif %}

        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}
<ul>
    {{ macros.comment_tree(tree) }}
</ul>