<hr />
{% macro comment_tree(tree) %}
    {% import _self as macros %}
    {% for node in tree %}
        <li>
            <div class="comment" id="comment{{ node.comment.id }}">
                <div class="info">


                </div>
                <div class="text">
                    {% embed "user/widget.html.twig" with { user: node.comment.author} %}{% endembed %}
                    <!-- ToFix: date filter always printing date of first node -->
                    <div class="datetime">{{ node.comment.creationDate|date('d.m.Y / H:m') }}</div>
                    <p class="author">{{ node.comment.author }}</p>
                    <hr>
                    <p>
                        {% if node.comment.text %}
                            {{ node.comment.text }}
                        {% else %}
                            <i>{% trans %}comments.deleted{% endtrans %}</i>
                        {% endif %}
                    </p>
                </div>
                {% if app.user and node.comment.text %}
                    <div class="actions">
                        <a onclick="replyForm({{ node.comment.id }})">{% trans %}main.reply{% endtrans %}</a>
                        {% if app.user.isAdmin or app.user.name == node.comment.author %}
                            <a onclick="deleteComment({{ node.comment.id }})">{% trans %}main.delete{% endtrans %}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            {% if node.children is defined %}
                <ul>
                    {{ macros.comment_tree(node.children) }}
                </ul>
            {% endif %}

        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}
<ul>
    {{ macros.comment_tree(tree) }}
</ul>
<script type="text/javascript">
    function replyForm(subjectId) {
        let cf = $('.commentForm').first().clone();
        $('.commentForm:not(:first)').remove();
        cf.attr('id', 'commentForm'+subjectId).appendTo('#comment'+subjectId+" .text").hide().fadeIn();
        cf.find('#comment_replyTo').val(subjectId);
        cf.find('input[type="text"]').attr('id', 'comment_text'+subjectId).focus();
        cf.find('label[for="comment_text"]').attr('for', 'comment_text'+subjectId);
        $('.close-commentForm').click(function () {
            $('.commentForm:not(:first)').fadeOut();
        });
    }

    function deleteComment(commentId) {
        if ( window.confirm( "{% trans %}comments.delete.confirm{% endtrans %}" ) ) {
            $.ajax({
                url: "/c/" + commentId + "/",
                type: 'DELETE'
            }).done((response) => {
                console.log(response);
                window.location.reload();
            });
        }
    }
</script>